/*CSS Nav*/
header > h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    color: gold;
    text-shadow: 3px 4px 2px blue;
}
nav {
    background-color: lightgray;
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /*Lam menu ngang*/
}
ul.menu > li {
    min-width: 120px;
    text-align: center;
    border-right: 1px solid white;
}
ul.menu > li:last-child{
    margin-left: auto;
}
ul.menu > li > a {
    text-decoration: none;
    display: block; /*Dang khoi*/
    padding: 15px 20px;
}
ul.menu > li > a:hover {
    background-color: darkblue;
    color: white;
}
/* CSS Body*/
section.content {
    background-color: darkgray;
    margin-top: 10px;
}
div.language {
    overflow: auto; /*Phan quan trong luon di kem voi float*/
    border-bottom: 1px solid white;
}
div.img-language{
    float:left;
}
footer {
    background-color: rgba(0,0,255,0.4);/*red green blue alpha(chinh do nhoe)*/
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    animation: doimaunen 1s infinite;
}
@keyframes doimaunen {
   from{
       background-color: rgba(255,0,0,0.6);
   }
   to{
       background-color: rgba(0,0,255,0.6);
   }
    
}

/*CSS Submenu*/
.subcontent {
    /*display: none !important;*/ /*su dung cho biet*/
    position: absolute;
    background-color: lightgray;
    visibility: hidden; /*ket hop voi opacity*/
    transition: opacity 0.5s;
}
.submenu:hover .subcontent{
    /*display: block !important;*/ /*vi da dung opacity nen phai tat di*/
    opacity: 1s;/*thay the display*/
    visibility: visible;
}
div.img-language {
    transition: transform 1s;
}
div.img-language > img:hover {
    transform: skew(-20deg);
}
